<div class="jumbotron">
    <h1>Time for Lunch!</h1>
</div>

<div class="row marketing">
    <div ng-controller="UserCtrl">
        <div id="user-select">
            <h2>First, verify who is attending</h2>

            <div id="users">
                <div class="user">
                    <div class="col-sm-3" ng-repeat="user in users">
                        <button class="user-button button btn btn-default"
                                ng-class="{'present': user.present, 'absent':!user.present}"
                                ng-click="toggleUser(user.name)">
                            {{user.name}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="generate-region">
            <h2>Then, press the big blue button</h2>
            <input type="number" id="groupSize" ng-model="groupSize">
            <button id="generate-groups" class="button btn btn-primary"
                    ng-click="generateGroups({groupSize: groupSize})">
                Generate Groups
            </button>
        </div>

        <div id="results-region">
            <div id="groups" class="col-sm-12">
                <div id="group-titles">
                    <div class="col-md-4">
                        <h4>Group Members</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>Restrictions</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>Restaurant</h4>
                    </div>
                </div>
                <div class="group" ng-repeat="group in groups">
                    <div ng-class-even="'dark-row'" ng-class-odd="'light-row'">
                        <div class="group-members">
                            <div class="col-md-4">
                                <ul>
                                    <li ng-repeat="user in group.users">{{user.name}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="restrictions">

                            <div class="col-md-4">

                                <ul>
                                    <li ng-repeat="restriction in group.restrictions">{{restriction}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="restaurants">
                            <div class="col-md-4">
                                <ul>
                                    <li ng-repeat="restaurant in group.restaurants">{{restaurant}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
